
# MONGODB_URI=mongodb://<mlab_user>:<mlab_password>@<mlab_connection_url>
MONGODB_URI=mongodb://localhost:27017/<>

# This is standard running mongodb locally
MONGODB_URI_LOCAL==mongodb://localhost:27017/<>

# Application Port - express server listens on this port (default 3000).
PORT=3000

# Put lots of randomness in these
SESSION_SECRET=asdfabasdf13easdflku8ysdf